<!DOCTYPE html>
<html style="background-color:black">
    <head>
        <link href="/static/styles/datazone.css" rel="stylesheet">
    </head>
    <body>
        <div class="center" style="flex-direction: row;">
            <div class="half">
                <p>erm... literally hitting the griddy</p>
            </div>
            <div class="half">
                <p>uh... widderawy hidding da gwiddy</p>
            </div>
        </div>
    </body>
</html>

<footer style="width: 100%; height: 30px">
    <a style="padding:30px; margin:0; text-align:center; font-family:'Courier New', Courier, monospace; color: whitesmoke;" href="/datatrack">Usage Ananlysis</a>
</footer>