<!DOCTYPE html>
<html style="margin:0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<!--First Section-->
    <body style="margin:0">
        <div style="margin:0">
            <div style="background-color: white; background-size: cover; height:480px; padding-top:80px; text-align:center">
                <img src="{{ url_for('static', filename='img/cromosome.png') }}" style="height:200px; border-radius:50%; border: 10px solid #000000;" alt="This is a chromosome">
                <h1 style="font-family:'Courier New', Courier, monospace;font-size:100px; color: black; margin:10px;">ChromoZone</h1>
                <p style="font-family:'Courier New', Courier, monospace;font-size:100px;font-size:30px; color: black"><em>You're safe in the Zone</em></p>
                <a style="font-family:'Courier New', Courier, monospace;font-size:20px; color: black;" href="/signup">Sign Up </a>
                <a style="font-family:'Courier New', Courier, monospace;font-size:20px; color: black;" href="/login">/ Login</a>
            </div>
        </div>
        <!--Second Section-->
        <div style="margin:0">
            <div style="background-color: whitesmoke; height:1000px; padding-bottom:80px;">
            </div>
        </div>
    </body>
</html>