<!DOCTYPE html>
<html style="background-color:whitesmoke; margin:0; padding: auto;">
    <head>
        <link href="/static/styles/signup.css" rel="stylesheet" >
    </head>
        <body class="center">
            <div id="signup-frontpage" style="width:600px; height:500px; background-color: white;">
                <h1 style="font-family: 'Courier New', Courier, monospace; text-align: center;">Login</h1>
                <form method = "POST">
                    <a style="font-family:'Courier New', Courier, monospace;font-size:20px; color:black;" href="/">Back</a>
                    <br>
                    <br>
                    <br>
                    <br>
                    Name <input type = "text" name = "Name"/>
                    <br>
                    <br>
                    <br>
                    <br>
                    Password <input type = "password" name = "Password"/>
                    <br>
                    <br>
                    <br>
                    <br>
                    <input type = "submit" value = "Submit" />
                </form>
            </div>
        </body>
</html>